/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', 'Rubik', sans-serif;
    font-size: 62.5%;
    color: #1F1D1B;
    background-image: url(../img/index_wireframe_workshop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-weight: bold;
    letter-spacing: .1rem;
    width: 100%;
}


p {
    font-size: 1.6rem;
    line-height: 1.6;
}
header {
    background: black;
    display: flex;
    padding-top: .75rem;
}
header .title-social-member {
    width: 100%;
    display:flex;
    justify-content: space-between;
}
header .title img {
    margin-top: -.25rem;
    padding-bottom: .25rem;
}

.logo-ad {
    width: 100%;
    margin-top: 1.4rem;
    padding-bottom: 1.25rem;
    display:flex;
    justify-content: space-between;
}
.logo-ad .logo img {
    margin: 0;
    padding: 0;
}
/********************************************************************************
Social Menu Styles
********************************************************************************/
header .title-social-member .icon-bar, header .title-social-member .member-icon-bar {
    width: 40rem;
    margin: 0 auto;
    }
    .icon-bar a {
    text-align: center;
    padding-right: 2rem;
    transition: all 0.3s ease;
    color: whitesmoke;
    font-size: 2rem;
    }
    .icon-bar a:hover {
    background-color: #fff;
    border-radius: 100%;
 }
/********************************************************************************
Top Navigation Menu Styles
********************************************************************************/
nav {
    background: black;
    margin-bottom: 1rem;
    padding: 1.5rem;
}
nav a {
    background: black;
    clear: both;
    font-size: 1.25rem;
    text-align: center;
    margin-right: 0;
    padding: 1rem 2.5rem;
    text-decoration: none;
    letter-spacing: .25rem;
    color:whitesmoke;
    border-right: .1rem solid gray;
    text-transform: uppercase;
}
nav a:hover {
    background: #D03F0F;
}
button {
    font-size: 1.4rem;
    color: whitesmoke;
    background: #D03F0F;
    margin-top: 2rem;
    padding: .75rem 1.5rem;
    letter-spacing: .1rem;
}
/********************************************************************************
Main Content Styles
********************************************************************************/
.container {
    display:flex;
    width:99%;
    margin: 0 auto;
} 
.featured-content-container {
    width: 68%;
    margin-top: .5rem;
    margin-right:1rem;
    margin-left: .5rem;
}
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.top-content .second-feature {
    background: #ede1e1;
    width: 53%;
    margin-right: 1.25rem;
    padding: 1.5rem;
    padding-bottom: 1.5rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-left: .3rem #95593D dotted;
}
.top-content .second-feature .second-widget {
    display: flex;
}
.top-content .second-feature .second-widget img {
    width: 50%;
    margin-right: 1.25rem;
    border: 1px solid #3f3838;
    border-radius: .35rem;
}
.top-content .third-feature {
    background: whitesmoke;
    width: 44%;
    padding: 1.5rem;
    padding-bottom: 1.5rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-left: .3rem #d2d8d8 dotted;
}
.top-content .third-feature .third-widget {
    display: flex;
}
.top-content .third-feature .third-widget img {
    width: 40%;
    margin-right: 1.25rem;
    border: 1px solid #3f3838;
    border-radius: .35rem;
}
/***** Slideshow Styles **********/
.top-content .first-feature-slider {
    width: 99%;
    padding: 1.5rem;
    margin-top: 2rem;
    padding-bottom: 20px;
    background: goldenrod;
}
.top-content .first-feature-slider .mySlides {
    display: none;
}
.top-content .first-feature-slider .mySlides img {
    vertical-align: middle;
}

/* Slideshow container */
.top-content .first-feature-slider .slideshow-container {
  max-width: 100%;
  position: fixed;
  margin: 0;
  margin-top: -5px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: hsl(116, 41%, 57%);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background: black;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.text a {
  color: whitesmoke;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*** End Slideshow Styles ***/

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}
.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}
.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.middle-content .boxes .box, .middle-content .boxes .box1, .middle-content .boxes .box2, .middle-content .boxes .box3,
.middle-content .boxes .box4, .middle-content .boxes .box5, .middle-content .boxes .box6, .middle-content .boxes .box7,
.middle-content .boxes .box8, .middle-content .boxes .box9, .middle-content .boxes .box10 {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box1 {
    background: teal;
}
.middle-content .boxes .box2 {
    background: gold;
}
.middle-content .boxes .box3 {
    background: cadetblue;
}
.middle-content .boxes .box4 {
    background: coral;
}
.middle-content .boxes .box5 {
    background: crimson;
}
.middle-content .boxes .box6 {
    background: forestgreen;
}
.middle-content .boxes .box7 {
    background: darkorchid;
}
.middle-content .boxes .box8 {
    background: hotpink;
}
.middle-content .boxes .box9 {
    background: indigo;
}
.middle-content .boxes .box10 {
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}
/********************************************************************************
Sidebar Styles
********************************************************************************/
.sidebar-container {
    background: #D03F0F;
    width: 30.5%;
    margin-top: .5rem;
    margin-bottom: 20px;
    padding: 1.5rem;
}
.sidebar-container .widgets .text-widget {
    width: 98%;
    padding: 0 1%;
    padding-bottom: 2rem;  
}
.sidebar-container .widgets .image-widget {
    width: 98%;
    padding: 0 1%;
    padding-bottom: 2rem;  
}
.sidebar-boxes .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/********************************************************************************
Footer Styles
********************************************************************************/
#footer {
    background: black;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #footer .container div {
  text-align:center;
  }
  #footer .container button {
  width: 10em;
  background: #252424;
  color: whitesmoke;
  border: none;
  border-radius: 5%;
  margin: 2% 2.5%;
  margin-top: -10px;
  margin-bottom: 1em;
  padding: 1%;
  letter-spacing: .25rem;
  }
  #footer .container button:hover {
  background: #ededed;
  color: black;
  }
  #footer .container .copyright {
  text-align: center;
  color: grey;
  font-size: 1.4rem;
  padding-top: 2em;
  padding-bottom: 0;
  letter-spacing: .25em;
  }
  #footer .container .copyright a {
  color: whitesmoke;
  text-decoration: none;
  }
.checkmark {
    color: #00C603;
    font-size: 2rem;
}
.dropcap {
    background-color:#D03F0F;
    margin-right: .5rem;
    padding: .2rem .3rem .2rem .6rem;
    font-size: 1.4rem;
}
/********************************************************************************
Media Queries
********************************************************************************/
@media only screen and (max-width: 800px) {
.prev, .next,.text {font-size: 11px;}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
.prev, .next,.text {font-size: 11px;}
}