html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ABOUT css STARTS HERE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***************************************************************************************
Header Styles @import url(../css/header.css);
***************************************************************************************/
header {
  width: 100%;
  background: black;
  margin: 0;
  padding: 0;
}
header .title-social-member {
  background: black;
  width: 85%;
  position: absolute;
  top: 0;
  position: fixed;
  display: flex;
  margin: 0;
  padding-top: 0.75rem;
  border-bottom: 1px solid #262424;
}
header .title img {
  margin: 0;
  /* padding-bottom: 0.05rem; */
}
/*********************************************************************************************
Social Menu Styles
*********************************************************************************************/
header .title-social-member {
  width: 99%;
}
.title-social-member {
  background: rgb(14, 14, 14);
  display: flex;
  justify-content: space-between;
}
.title-social-member .title img {
  width: 11vw;
  margin: 0.5em;
}

header .title-social-member .icon-bar,
header .title-social-member .member-icon-bar {
  display: flex;
  justify-content: flex-end;
  width: 30rem;
  margin: 0 auto;
}
header .title-social-member .icon-bar {
}
.icon-bar {
  /* margin-right: 4vw; */
  /* margin-left: 20vw; */
}
.icon-bar a {
  text-align: center;
  margin-right: 1vw;
  transition: all 0.3s ease;
  color: whitesmoke;
  font-size: 1vw;
}
.icon-bar a:hover {
  background-color: #d03f0f;
}
/**********************************************************************************************
Logo, Ad Banner Styles 
***********************************************************************************************/
.logo-ad {
  width: 100%;
  margin: 0;
  margin: 0;
  /* padding-top: 0.75rem; */
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  background-color: black;
}
.logo-ad img {
  width: 13vw;
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid grey;
}
/***********************************************************************************************
Top Navigation Menu Styles
***********************************************************************************************/
#topnav {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}
nav {
  background: black;
  /* margin-bottom: 1rem; */
  padding-top: 0.5vw;
  padding-bottom: 1vw;
  border-bottom: 2px solid #030303;
}
nav a {
  background: black;
  clear: both;
  font-size: 0.5vw;
  text-align: center;
  margin-right: 0;
  padding: 1vw 2vw;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: whitesmoke;
  border-right: 0.1rem solid gray;
  text-transform: uppercase;
}
nav a:hover {
  background: #d03f0f;
}
.active {
  color: #d03f0f;
}
.active:hover {
  background: black;
}

/* TOP CONTENT CSS STARTS HERE */

h2 {
  font-size: 30px;
  color: #272727;
}
.team-section {
  padding: 2em;
  padding-left: 10em;
  width: 100%;
  height: 50%;
  display: inline-block;
}
.section-title {
  width: 50%;
  /* margin-top: 2em; */
  line-height: 1;
  margin-left: 1vw;
}
.section-title h2 {
  font-size: 1.75vw;
  margin-bottom: 1%;
}
.section-title a {
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 100px;
  font-size: 0.85vw;
  font-weight: bolder;
  background-color: #f3f3f3;
  color: #d23f0f;
  line-height: 3;
  padding: 8px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  transition: 2s;
}
.section-title a:hover {
  background-color: #d23f0f;
  color: #ffffff;
  font-weight: bold;
}
.second-section {
  display: inline-block;
  margin-left: 16%;
  margin-top: 6%;
  position: absolute;
}
h3 {
  font-size: 20px;
  position: relative;
  margin-bottom: 5vw;
  border-bottom: 2px solid #d23f0f;
}
span img {
  border-right: 1px solid rgb(230, 230, 230);
  padding-right: 15vw;
  margin-left: 0.3vw;
  width: 38vw;
}

/*TEAM SEC CSS STARTS HERE */
.team-container {
  text-align: center;
  border-top: 1px solid rgb(199, 199, 199);
  height: 100%;
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  /* margin-bottom: 2vw; */
  padding-bottom: 2vw;
  background-color: #e2e2e2;
}
.text {
  width: 80%;
  margin: 50px auto 50px auto;
  margin-bottom: 5%;
}
.text h5 {
  position: relative;
  text-align: center;
  font-size: 2vw;
  color: #d23f0f;
  margin-bottom: 1em;
}
.text h5::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: rgb(122, 122, 122);
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.boxes {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
}
.box {
  position: relative;
  /* box-shadow: 3px 3px 5px rgb(172, 172, 172); */
  padding: 2vw;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
  /* margin-bottom: 5%; */
}
.box img {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  position: initial;
  top: 30%;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  /* margin-bottom: 2vw; */
  border: 1px solid rgb(119, 119, 119);
  box-shadow: 3px 3px 5px rgb(114, 114, 114);
  transition: 1.5s;
}
.links {
  position: inherit;
  margin-top: 1vh;
  text-align: center;
  transform: translateY(-50%);
}
.links a {
  font-size: 1.5vw;
  color: #030303;
  transition: 0.5s;
}
.links a:hover {
  color: #d23f0f;
}
.detail {
  /* position: absolute; */
  /* bottom: 15px; */
  padding-bottom: 2em;
  width: 100%;
}
.detail h4,
.detail p {
  /* width: 100%; */
  text-align: center;
  /* padding-left: 1em; */
  line-height: 2;
  padding-right: 2vw;
  padding-left: 2vw;
}
.detail h4,
.detail p:hover {
  font-weight: bolder;
}

.detail h4 {
  color: #d23f0f;
  font-size: 1vw;
}
.detail p {
  font-size: 1vw;
  color: #969696;
  text-align: center;
}
/* .box:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 20px lightgray;
} */
.box:hover img {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px rgb(143, 143, 143);
}

/* BOTTOM CONTENT CSS */

.bottom-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 100%;
  padding: 2em;
  text-align: center;
  border-top: 2px solid rgb(173, 173, 173);
  background-color: rgb(243, 243, 243);
}
.bottom-content i {
  margin-top: 10vw;
}
.bottom-content a {
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 100px;
  font-size: 0.75vw;
  font-weight: bolder;
  background-color: #d3d3d3;
  color: #d23f0f;
  line-height: 2;
  padding: 8px;
  margin-top: 2em;
  transition: 2s;
}
.bottom-content a:hover {
  background-color: #d23f0f;
  color: #ffffff;
  font-weight: bold;
}
.bottom-div img {
  width: 13vw;
  height: 13vw;
  display: inline-block;
  border-radius: 10vw;
}
h5 {
  font-size: 1.2vw;
  padding-top: 2%;
  color: #000000;
}
.bottom-div p {
  flex-wrap: wrap;
  font-size: 0.85vw;
  padding-bottom: 2%;
  padding-top: 2%;
}
.bottom-div {
  max-width: 100%;
  filter: opacity(80%);
  border-radius: 50px;
  padding: 0.5em;
  background-color: #dacec9;
}

/* Footer */
/* Styles
  ********************************************************************************/
.footer-container {
  background-color: black;
}
.footer {
  background-color: black;
}
.footer-container .footer {
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #282525;
}
.footer-container .footer-two {
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  padding-top: 1.15rem;
  padding-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #282525;
}
.footer-container .footer .footer-content {
  display: flex;
  color: #939393;
  margin: 0 2% 2rem;
  padding-bottom: 1rem;
  justify-content: space-around;
}
.footer-container .footer .footer-content .text-container {
  width: 32%;
  margin-top: 4rem;
  margin-right: 4rem;
  padding-right: 4rem;
  text-align: left;
  border-right: 5px solid #282525;
}
.footer-container .footer .footer-content .text-container h2,
.footer-container .footer .footer-content .middle-text-container h2 {
  color: #939393;
  font-size: 1.5vw;
  font-weight: normal;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #2b2b2b;
}
.footer-container .footer .footer-content .text-container a {
  color: #939393;
  font-size: 1.2vw;
  font-weight: normal;
  text-decoration: none;
}
.footer-container .footer .footer-content .text-container a:hover {
  color: #d03f0f;
}
.middle-text-container p {
  font-size: 1.1vw;
  line-height: 1;
  color: rgb(201, 201, 201);
}
.footer-container .footer .footer-content .middle-text-container {
  width: 32%;
  padding-right: 4rem;
  margin-top: 4rem;
  margin-right: 4rem;
  text-align: left;
  border-right: 5px solid #282525;
}
.footer-container .footer .footer-content .text-container:last-child {
  width: 25%;
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.footer .copyright-container {
  margin-top: 1rem;
}
.footer .copyright-container .copyright {
  text-align: center;
  color: grey;
  font-size: 1.1vw;
  margin-top: -1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 0.25em;
}
.footer .copyright-container .copyright a {
  color: whitesmoke;
  text-decoration: none;
}
.checkmark {
  color: #00c603;
  font-size: 1.1vw;
}
.dropcap {
  background-color: #d03f0f;
  margin-right: 0.5rem;
  padding: 0.2rem 0.3rem 0.2rem 0.6rem;
  font-size: 1.4rem;
}
/***********************************************************************************************
Footer Navigation Menu Styles
***********************************************************************************************/
.footer-container .footer-two .footer-nav {
  background: black;
}
.footer-two {
  background-color: black;
}
.footer-container .footer-two .footer-nav .footer-navbar #nav-footer {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}
.footer-container .footer-two .footer-nav .footer-navbar #nav-footer a {
  clear: both;
  font-size: 1vw;
  text-align: center;
  margin-right: 0;
  margin-bottom: 1.25rem;
  padding: 0.9rem 2.5rem;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  border-right: none;
}
.footer-container .footer-two .footer-nav .footer-navbar #nav-footer a:hover {
  background: #d03f0f;
}

.footer-container .footer-two .footer-nav .footer-navbar #nav-footer .active {
  color: #d03f0f;
}
.footer-container
  .footer-two
  .footer-nav
  .footer-navbar
  #nav-footer
  .active:hover {
  background: black;
}

/* media quieries css */
@media only screen and (max-width: 1555px) {
  .box {
    box-shadow: 2px 2px 5px rgb(172, 172, 172);
    margin: 5vw;
    padding: 3vw;
  }
  .team-section {
    background-color: #f9c5b4;
    padding-bottom: 5vw;
  }
  .team-container {
    background-color: rgba(238, 228, 222, 0.329);
  }
  .bottom-content {
    background-color: #ececec;
  }
  .bottom-div {
    background-color: #e2dad7;
  }
}

@media only screen and (max-width: 1260px) {
  .boxes {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
  }
  .box {
    margin: 4vw;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-area a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: 1.5vw;
  }
  .nav-area i {
    margin-left: 0.5vw;
  }
  .imgDiv {
    padding-left: 12%;
    padding-right: 12%;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

@media only screen and (max-width: 930px) {
  .second-section {
    margin-top: 2%;
  }
  h3 {
    font-size: 2vw;
    border-bottom: 2px solid #d23f0f;
  }

  .team-section {
    padding: 7.5vw;
  }

  .section-title {
    margin-left: 0;
  }
  .section-title p {
    font-size: 2vw;
  }
  h2 {
    font-size: 3vw;
    margin-bottom: 1em;
  }

  span img {
    margin-left: 0%;
  }

  .footer-container .footer-two .footer-nav .footer-navbar nav a {
    padding: 1em;
  }
}

@media only screen and (max-width: 800px) {
  .containerTwoNav a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .team-container {
    background-color: rgb(245, 245, 245);
  }
  .team-section {
    background-color: rgb(192, 192, 192);
  }
  .bottom-content {
    background-color: rgb(216, 198, 190);
  }
}
