html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: whitesmoke;
}
.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 20px;
  box-sizing: border-box;
  background: darkgray;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  display: flex;
}
.box .imgBx {
  width: 150px;
}
.navBar {
  border: 2px solid darkcyan;
  margin-bottom: 1vw;
  padding: 1vw;
}
nav a {
  text-decoration: none;
  font-size: 20px;
  color: #5bb35e;
  border: 2px solid black;
  padding: 0.25em;
  margin-right: 1em;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  background-image: url("../UI/teammm.jpg");
  background-position: center;
  color: #780116;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  opacity: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 50px;
}
.text-container {
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 45%;
  padding: 2em;
  margin-left: 45%;
  text-align: center;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  color: azure;
  font-weight: bold;
  border: 10px inset black;
}
