html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ABOUT css STARTS HERE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  border-bottom: 1px solid rgb(163, 163, 163);
  background: rgb(27, 27, 27);
  /* background-color: #f0f0f0; */
}
.nav-area {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}
.nav-area a {
  text-decoration: none;
  font-size: 17px;
  flex-wrap: nowrap;
  flex-direction: row;
  color: #999999;
  padding-top: 2em;
}

h1 {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #999999;
  padding-left: 5%;
  padding-bottom: 1em;
}
img {
  width: 200px;
  margin: 5%;
}
.imgDiv {
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 4vw;
  margin-right: 4vw;
}
.containerTwo {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 1em;
  display: flex;
  justify-content: center;
  background: rgb(27, 27, 27);
  /* background-color: #f3f3f3; */
}
.containerTwoNav a {
  text-decoration: none;
  color: #999999;
  padding-left: 2em;
  padding-right: 2em;
}
/* TOP CONTENT CSS STARTS HERE */

h2 {
  font-size: 30px;
  color: #272727;
}
.team-section {
  padding: 5em;
  padding-left: 10em;
  width: 100%;
  height: 50%;
  display: inline-block;
}
.section-title {
  width: 50%;
  margin-top: 2em;
  margin-left: 3vw;
}
.section-title a {
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 100px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #f3f3f3;
  color: #d23f0f;
  line-height: 5;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  transition: 2s;
}
.section-title a:hover {
  background-color: #d23f0f;
  color: #ffffff;
  font-weight: bold;
}
.second-section {
  display: inline-block;
  margin-left: 16%;
  margin-top: 6%;
  position: absolute;
}
h3 {
  font-size: 20px;
  position: relative;
  margin-bottom: 8vw;
  border-bottom: 2px solid #d23f0f;
}
span img {
  border-right: 1px solid rgb(230, 230, 230);
  padding-right: 15vw;
  margin-left: 2vw;
  width: 40vw;
}
/*TEAM SEC CSS STARTS HERE */
.team-container {
  text-align: center;
  border-top: 1px solid rgb(230, 230, 230);
  height: 100%;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 2vw;
  padding-bottom: 2vw;
  background-color: #e9e9e9;
}
.text {
  width: 80%;
  margin: 50px auto 50px auto;
}
.text h5 {
  position: relative;
  text-align: center;
  font-size: 40px;
  color: #d23f0f;
  margin-bottom: 1em;
}
.text h5::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: rgb(122, 122, 122);
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.boxes {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 350px;
  grid-gap: 5vw;
}
.box {
  position: relative;
  box-shadow: 3px 3px 5px rgb(172, 172, 172);
  padding: 1vh;
  max-width: 100%;
  padding-bottom: 3vw;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
}
.box img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: initial;
  top: 30%;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 2em;
  border: 1px solid white;
  box-shadow: 3px 3px 5px rgb(114, 114, 114);
  transition: 1.5s;
}
.links {
  /* position: relative; */
  text-align: center;
  transform: translateY(-50%);
}
.links a {
  font-size: 25px;
  color: #555454;
  transition: 0.5s;
}
.links a:hover {
  color: #d23f0f;
}
.detail {
  position: absolute;
  bottom: 15px;
  width: 100%;
}
.detail h4,
.detail p {
  width: 100%;
  text-align: center;
  padding-left: 1em;
  line-height: 1;
  padding-right: 2em;
}
.detail h4 {
  color: #d23f0f;
  font-size: 24px;
}
.detail p {
  color: #969696;
}
.box:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 20px lightgray;
}
.box:hover img {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px rgb(143, 143, 143);
}

/* FOOTER SEC CSS */
.footer-container {
  background: rgb(27, 27, 27);
}
.footer-container .footer {
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000000;
}
.footer-container .footer-two {
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  padding-top: 1.15rem;
  padding-bottom: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #616060;
}
.footer-container .footer .footer-content {
  display: flex;
  color: #a39e9e;
  margin: 0 2% 2rem;
  padding-bottom: 1rem;
  justify-content: space-around;
}
.footer-container .footer .footer-content .text-container {
  width: 32%;
  margin-top: 4rem;
  margin-right: 4rem;
  padding-right: 4rem;
  text-align: left;
  border-right: 5px solid #616060;
}
.footer-container .footer .footer-content .text-container h2,
.footer-container .footer .footer-content .middle-text-container h2 {
  color: #939393;
  font-size: 1.6rem;
  font-weight: normal;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #616060;
}
.footer-container .footer .footer-content .text-container a {
  color: #939393;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
}
.footer-container .footer .footer-content .text-container a:hover {
  color: #d03f0f;
}
.footer-container .footer .footer-content .middle-text-container {
  width: 32%;
  padding-right: 4rem;
  margin-top: 4rem;
  margin-right: 4rem;
  text-align: left;
  border-right: 5px solid #616060;
}
.footer-container .footer .footer-content .text-container:last-child {
  width: 25%;
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.footer .copyright-container {
  margin-top: 1rem;
}
.footer .copyright-container .copyright {
  text-align: center;
  color: grey;
  font-size: 1.4rem;
  margin-top: -1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 0.25em;
  padding: 0.2rem 0.3rem 0.2rem 0.6rem;
  font-size: 1.4rem;
}
/*Footer Navigation Menu Styles********************************/
.footer-container .footer-two .footer-nav {
  background: rgb(27, 27, 27);
}
.footer-container .footer-two .footer-nav .footer-navbar nav {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.footer-container .footer-two .footer-nav .footer-navbar nav a {
  clear: both;
  font-size: 1.25rem;
  text-align: center;
  margin-right: 0;
  padding: 1rem 2.5rem;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: rgb(226, 226, 226);
  border-right: none;
  text-transform: uppercase;
}
.footer-container .footer-two .footer-nav .footer-navbar nav a:hover {
  background: #d03f0f;
}
.copyright img {
  width: 100px;
  display: inline-block;
}
.checkmark {
  float: right;
  padding-top: 2%;
}

/* media quieries css */
