html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Marketing One css STARTS HERE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  border-bottom: 1px solid rgb(53, 52, 52);
  background: rgb(8, 8, 8);
  /* background-color: #f0f0f0; */
}
.nav-area {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}
.nav-area a {
  text-decoration: none;
  font-size: 17px;
  flex-wrap: nowrap;
  flex-direction: row;
  color: rgb(226, 226, 226);
  padding-top: 2em;
}

h1 {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #d23f0f;
  padding-left: 5%;
  padding-bottom: 1em;
}
img {
  width: 200px;
  margin: 5%;
}
.imgDiv {
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 4vw;
  margin-right: 4vw;
}
.containerTwo {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 1em;
  display: flex;
  justify-content: center;
  background: rgb(8, 8, 8);
}
.containerTwoNav a {
  text-decoration: none;
  color: rgb(226, 226, 226);
  padding-left: 2em;
  padding-right: 2em;
}

h2 {
  font-size: 30px;
  color: #272727;
}

/* IMAGE BANNER CSS */

.wrapper {
  width: 1170px;
  margin: 0 auto;
  border-bottom: 1px solid #929292;
  /* position: fixed; */
}
header {
  height: 100px;
  width: 100%;
  z-index: 12;
  position: fixed;
}
.banner-area {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: left;
  background-image: url("../UI/teamInfo/successss.jpeg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.banner-area h3 {
  padding-top: 10vw;
  padding-left: 2em;
  font-size: 50px;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: black;
}
.banner-area a {
  text-decoration: none;
  color: rgb(248, 248, 248);
  background-color: black;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  padding-left: 40px;
  margin-left: 5%;
  padding-right: 50px;
  transition: 2s;
}
.banner-area a:hover {
  color: #d23f0f;
}
.content-area {
  width: 100%;
  position: absolute;
  /* top: 450px; */
  top: 100%;
  background-color: #ddd;
  height: 1500px;
  padding-bottom: 100%;
}
.content-area h4 {
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 30px;
  margin: 0;
}
.content-area p {
  padding: 2% 0;
  line-height: 30px;
}

/* MAIN CONTENT CSS */

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  border-bottom: 1px solid #929292;
  margin: 3em;
  padding: 2em;
}
.main-text h5 {
  font-size: 30px;
  padding: 2em;
}
.main-text img {
  width: 400px;
  height: 250px;
  border-radius: 130px 20px;
}

/* MID CONTENT */
body {
  text-align: center;
}
.mid-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px dashed gray;
  /* margin: 2vw; */
  margin-top: 7vw;
  padding-bottom: 5vw;
  text-align: center;
  justify-content: space-around;
}
.mid-div {
  border: 1px solid gray;
  padding: 4vw;
  /* height: 10%; */
}
.mid-div h5 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 0.5em;
}
.mid-div p {
  font-size: 15px;
}
.mid-div a i {
  width: 300px;
}

/* <!-- search bar --> */
.searchBar {
  margin-top: 10%;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #000000;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
form.example button:hover {
  background: #d23f0f;
}

/* FOOTER SEC CSS */
.footer-container {
  background: rgb(8, 8, 8);
  margin-top: 60vh;
}
.footer-container .footer {
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000000;
}
.footer-container .footer-two {
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  padding-top: 1.15rem;
  padding-bottom: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #616060;
}
.footer-container .footer .footer-content {
  display: flex;
  color: #a39e9e;
  margin: 0 2% 2rem;
  padding-bottom: 1rem;
  justify-content: space-around;
}
.footer-container .footer .footer-content .text-container {
  width: 32%;
  margin-top: 4rem;
  margin-right: 4rem;
  padding-right: 4rem;
  text-align: left;
  border-right: 5px solid #616060;
}
.middle-text-container p {
  color: rgb(226, 226, 226);
}
.footer-container .footer .footer-content .text-container h2,
.footer-container .footer .footer-content .middle-text-container h2 {
  color: rgb(226, 226, 226);
  font-size: 1.6rem;
  font-weight: normal;
  padding-bottom: 1rem;
  color: rgb(226, 226, 226);
}
.footer-container .footer .footer-content .text-container a {
  color: rgb(226, 226, 226);
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
}
.footer-container .footer .footer-content .text-container a:hover {
  color: #d03f0f;
}
.footer-container .footer .footer-content .middle-text-container {
  width: 32%;
  padding-right: 4rem;
  margin-top: 4rem;
  margin-right: 4rem;
  text-align: left;
  border-right: 5px solid #616060;
}
.footer-container .footer .footer-content .text-container:last-child {
  width: 25%;
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.footer .copyright-container {
  margin-top: 1rem;
}
.footer .copyright-container .copyright {
  text-align: center;
  color: rgb(226, 226, 226);
  font-size: 1.4rem;
  margin-top: -1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 0.25em;
  padding: 0.2rem 0.3rem 0.2rem 0.6rem;
  font-size: 1.4rem;
}
/*Footer Navigation Menu Styles********************************/
.footer-container .footer-two .footer-nav {
  background: rgb(8, 8, 8);
}
.footer-container .footer-two .footer-nav .footer-navbar nav {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.footer-container .footer-two .footer-nav .footer-navbar nav a {
  clear: both;
  font-size: 1.25rem;
  text-align: center;
  margin-right: 0;
  padding: 1rem 2.5rem;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: rgb(226, 226, 226);
  border-right: none;
  text-transform: uppercase;
}
.footer-container .footer-two .footer-nav .footer-navbar nav a:hover {
  background: #d03f0f;
}
.copyright img {
  width: 100px;
  display: inline-block;
}
.checkmark {
  float: right;
  padding-top: 2%;
}

/* media quieries css */
