html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Marketing One css STARTS HERE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***************************************************************************************
Header Styles @import url(../css/header.css);
***************************************************************************************/
header {
  width: 100%;
  background: black;
  margin: 0;
  padding: 0;
}
header .title-social-member {
  background: black;
  width: 85%;
  position: absolute;
  top: 0;
  position: fixed;
  display: flex;
  margin: 0;
  padding-top: 0.75rem;
  border-bottom: 1px solid #262424;
}
header .title img {
  margin: 0;
  /* padding-bottom: 0.05rem; */
}
/*********************************************************************************************
Social Menu Styles
*********************************************************************************************/
header .title-social-member {
  width: 99%;
}
.title-social-member {
  background: rgb(14, 14, 14);
  display: flex;
  justify-content: space-between;
}
.title-social-member .title img {
  width: 11vw;
  margin: 0.5em;
}

header .title-social-member .icon-bar,
header .title-social-member .member-icon-bar {
  display: flex;
  justify-content: flex-end;
  width: 30rem;
  margin: 0 auto;
}
header .title-social-member .icon-bar {
}
.icon-bar {
  /* margin-right: 4vw; */
  /* margin-left: 20vw; */
}
.icon-bar a {
  text-align: center;
  margin-right: 1vw;
  transition: all 0.3s ease;
  color: whitesmoke;
  font-size: 1vw;
}
.icon-bar a:hover {
  background-color: #d03f0f;
}
/**********************************************************************************************
Logo, Ad Banner Styles 
***********************************************************************************************/
.logo-ad {
  width: 100%;
  margin: 0;
  margin: 0;
  /* padding-top: 0.75rem; */
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  background-color: black;
}
.logo-ad img {
  width: 13vw;
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid grey;
}
/***********************************************************************************************
Top Navigation Menu Styles
***********************************************************************************************/
#topnav {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}
nav {
  background: black;
  /* margin-bottom: 1rem; */
  padding-top: 0.5vw;
  padding-bottom: 1vw;
  border-bottom: 2px solid #030303;
}
nav a {
  background: black;
  clear: both;
  font-size: 0.5vw;
  text-align: center;
  margin-right: 0;
  padding: 1vw 2vw;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: whitesmoke;
  border-right: 0.1rem solid gray;
  text-transform: uppercase;
}
nav a:hover {
  background: #d03f0f;
}
.active {
  color: #d03f0f;
}
.active:hover {
  background: black;
}

/*  */

h2 {
  font-size: 30px;
  color: #272727;
}

/* IMAGE BANNER CSS */

.wrapper {
  width: 1170px;
  margin: 0 auto;
  border-bottom: 1px solid #929292;
  /* position: fixed; */
}
header {
  height: 100px;
  width: 100%;
  z-index: 12;
  position: fixed;
}
.banner-area {
  min-width: 100%;
  height: 55%;
  position: absolute;
  text-align: left;
  background-image: url("images/campaignn.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 80%;
  background-position: center center;
}
.banner-area h3 {
  text-align: center;
  padding-top: 10vw;
  padding-left: 2em;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.banner-area a {
  text-align: center;
  text-decoration: none;
  color: rgb(248, 248, 248);
  background-color: black;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  padding-left: 40px;
  margin-left: 45%;
  padding-right: 50px;
  transition: 2s;
}
.banner-area a:hover {
  color: #d23f0f;
}
.content-area {
  width: 100%;
  position: absolute;
  top: 59%;
  background-color: #ddd;
  /* height: 1500px; */
  /* padding-bottom: 100%; */
}
.content-area h4 {
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 2vw;
  margin: 0;
}
.content-area p {
  padding: 2% 0;
  line-height: 30px;
  font-size: 0.95vw;
}

/* MAIN CONTENT CSS */

.main-content {
  display: flex;
  border-bottom: 1px solid #929292;
  width: 100%;
  padding: 2em;
  margin
}
.main-text {
  flex-flow: row nowrap;
  justify-content: space-evenly;
  max-width: 100%;
  padding: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.main-text h5 {
  font-size: 1.5vw;
  /* padding: 2em; */
}
.main-text p {
  font-size: 0.75vw;
}
.main-text img {
  width: 12vw;
  height: 12vw;
  padding-bottom: 1vw;
  border-radius: 110px;
}

/* MID CONTENT */
body {
  text-align: center;
}
.mid-content {
  display: flex;
  border-bottom: 2px solid gray;
  margin: 3vw;
  max-width: 100%;
  /* margin-top: 20vh; */
  padding-bottom: 1vw;
  text-align: center;
  justify-content: space-around;
}
.mid-content img {
  width: 13vw;
  height: 13vw;
  padding-bottom: 1em;
}
.box-area h6 {
  padding-top: 3em;
  font-size: 2vw;
}
.mid-div {
  background-color: white;
  border: 1px solid rgb(109, 109, 109);
  width: 100%;
  margin: 1vw;
  padding: 1em;
  justify-content: center;
}
.mid-div h5 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 0.5em;
}
.mid-div p {
  font-size: 15px;
}
.mid-div a i {
  width: 300px;
}


/* CONTACT FORM */

.contactwrapper {
  width: 400px;
  padding: 30px;
  background-color: rgb(248, 248, 248);
  margin: 0 auto;
}
.contactwrapper h6 {
  text-align: center;
  text-transform: uppercase;
}
.contactwrapper input[type=text],
.contactwrapper input[type=email]{
  height: 40px;
}
.contactwrapper input[type=text],
.contactwrapper input[type=email],
textarea {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border: 1px solid #2b2b2b;
}
.contactwrapper a {
  text-decoration: none;
  background-color: rgb(230, 109, 109);
  display: block;
  padding: 10px 15px;
  text-align: center;
  font-size: .85vw;
  color: #000000;
}

/* <!-- search bar --> */
.searchBar {
  padding-top: 4rem;
}
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #000000;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
form.example button:hover {
  background: #d23f0f;
}

/* Footer */
/* Styles
  ********************************************************************************/
.footer-container {
  background-color: black;
}
.footer {
  background-color: black;
}
.footer-container .footer {
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #282525;
}
.footer-container .footer-two {
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  padding-top: 1.15rem;
  padding-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #282525;
}
.footer-container .footer .footer-content {
  display: flex;
  color: #939393;
  margin: 0 2% 2rem;
  padding-bottom: 1rem;
  justify-content: space-around;
}
.footer-container .footer .footer-content .text-container {
  width: 32%;
  margin-top: 4rem;
  margin-right: 4rem;
  padding-right: 4rem;
  text-align: left;
  border-right: 5px solid #282525;
}
.footer-container .footer .footer-content .text-container h2,
.footer-container .footer .footer-content .middle-text-container h2 {
  color: #939393;
  font-size: 1.5vw;
  font-weight: normal;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #2b2b2b;
}
.footer-container .footer .footer-content .text-container a {
  color: #939393;
  font-size: 1.2vw;
  font-weight: normal;
  text-decoration: none;
}
.footer-container .footer .footer-content .text-container a:hover {
  color: #d03f0f;
}
.middle-text-container p {
  font-size: 1.1vw;
  line-height: 1;
  color: rgb(201, 201, 201);
}
.footer-container .footer .footer-content .middle-text-container {
  width: 32%;
  padding-right: 4rem;
  margin-top: 4rem;
  margin-right: 4rem;
  text-align: left;
  border-right: 5px solid #282525;
}
.footer-container .footer .footer-content .text-container:last-child {
  width: 25%;
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.footer .copyright-container {
  margin-top: 1rem;
}
.footer .copyright-container .copyright {
  text-align: center;
  color: grey;
  font-size: 1.1vw;
  margin-top: -1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 0.25em;
}
.footer .copyright-container .copyright a {
  color: whitesmoke;
  text-decoration: none;
}
.checkmark {
  color: #00c603;
  font-size: 1.1vw;
}
.dropcap {
  background-color: #d03f0f;
  margin-right: 0.5rem;
  padding: 0.2rem 0.3rem 0.2rem 0.6rem;
  font-size: 1.4rem;
}
/***********************************************************************************************
  Footer Navigation Menu Styles
  ***********************************************************************************************/
.footer-container .footer-two .footer-nav {
  background: black;
}
.footer-two {
  background-color: black;
}
.footer-container .footer-two .footer-nav .footer-navbar #nav-footer {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}
.footer-container .footer-two .footer-nav .footer-navbar #nav-footer a {
  clear: both;
  font-size: 1vw;
  text-align: center;
  margin-right: 0;
  margin-bottom: 1.25rem;
  padding: 0.9rem 2.5rem;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  border-right: none;
}
.footer-container .footer-two .footer-nav .footer-navbar #nav-footer a:hover {
  background: #d03f0f;
}

.footer-container .footer-two .footer-nav .footer-navbar #nav-footer .active {
  color: #d03f0f;
}
.footer-container
  .footer-two
  .footer-nav
  .footer-navbar
  #nav-footer
  .active:hover {
  background: black;
}

/* media quieries css */
